:root {
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}
body{
  margin:0
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  all: unset;
}